All Trailblazers Engineers Scholarship applicants are strongly advised to read the application form thoroughly and ensure they understand its contents before completing it.
An honest, accurate, and properly completed application form is the foundation of the selection process.
Any misrepresentation or omission of facts may result in immediate disqualification.
If a section does not apply, applicants should write “NOT APPLICABLE” to confirm the form is complete.
The Trailblazers Engineers Scholarship Program is committed to supporting needy and deserving students from first year through final year at NED University of Engineering & Technology.
                Mandatory Scholarships Requirements: 

Each student is permitted to submit only one scholarship application. Multiple submissions will not be accepted and will be disqualified.
Only ONE scholarship applicant is allowed per family.
Students should be enrolled in any of the 19 Bachelor of Engineering (BE) programs. or
Students should be enrolled in Bachelor of Science (BS) specializing in Artificial Intelligence, Data Science, or Cyber Security ONLY.
If you are already receiving a scholarship or financial assistance from any another source, please don’t submit an application for this program. As per NED University regulations, each student may hold one scholarship during the same academic year. 
As part of the comprehensive evaluation process, the Trailblazers Engineers Scholarship Committee reserves the right to conduct a personal visit to the residence of each applicant.
Trailblazers Engineers Committee member will contact the student and set a time for personal visit. The committee member will show credentials before entering the house.
A personal visit is essential for assessing the needs of the candidate.
During the visit, Trailblazers Engineers committee members will record a video of the applicant and their family. This video will be used solely for evaluation purposes and will remain confidential within the scholarship process.
Applicants and their families are expected to be prepared and to cooperate fully with committee members during both the visit and the video recording.
Any applicant or family member who displays rudeness or disrespectful behavior toward a Trailblazers Engineers Committee member, or fails to comply with the rules, will be automatically disqualified from the scholarship process. Such applicants will also not be considered for future opportunities.  
An interview will be set after the candidate is found successful in our residential visit. It is mandatory for the parent or breadwinner to accompany the candidate on the day of interview in person and on time if residing in Karachi. Those outside Karachi must make themselves available through a video link, which will be provided to them.
All applicants must bring their original and attested academic documents, as well as the original proof of income from ALL sources for their Parents/Guardians, for verification before the scholarship interview starts. This requirement is crucial to ensure the authenticity of the information submitted by the applicant and their Parents/Guardians.
Parents/Guardians are encouraged to support students selected for the scholarship in participating in sports events, as staying active not only promotes good health but also nurtures a positive mindset, builds resilience through challenges, and helps students develop the confidence and discipline needed for success in their future lives.
Parents/Guardians must permit all students selected for the scholarship to undertake community service for the entire tenure of the scholarship program, in groups if and when required. This requirement ensures that students actively share their knowledge and skill with others, thereby contributing to the betterment of society.
 
ELIGIBILITY CRITERIA & SUPPORTING DOCUMENTS

ELIGIBILITY CRITERIA 

The Applicant must fulfill the following eligibility criteria, to be considered for a Trailblazers Engineers Scholarship.

For New Students (First Year)

Applicant must have passed the NED University of Engineering & Technology entry test.
Applicant must be on the Merit list with exceptional academic credentials.
Applicant must have been issued a NED University student ID card.
Applicant must maintain an overall CGPA of no less than 3.0 (NO EXCEPTIONS).
Applicant, no grade lower than a “C” will be accepted in any subject, as reflected on official NED transcripts.
For Existing Students (Second, Third and Fourth Year)

Applicant must maintain an overall CGPA of no less than 3.0 (NO EXCEPTIONS).
Applicant, no grade lower than a “C” will be accepted in any subject, as reflected on official NED transcripts.
Applicants must have successfully completed all previous years of coursework as recorded on their official NED transcript.
If the Trailblazers Engineers Scholarship Committee finds that a student has not completed prior coursework, the applicant will be ineligible for the upcoming Trailblazers Engineers Scholarship Program
SUPPORTING DOCUMENTS

All documents must be attested ONLY by your own faculty members of NED UET (Professor or Assistant Professor or Lecturer). Failure to comply with this requirement will result in disqualification from the scholarship program.

 Note: All supporting required documents be attached and uploaded as Single PDF File in following given descending order criteria.  If documents are filed separately in multiple photo captures from mobile phone, application will be disqualified.

 (Proper approach would be to first load all the document in Microsoft Word and convert the same into PDF prior to uploading)

One passport size photograph attested front and back (JPG/JPEG format only)
Attested copy of Pre- Admission Entry Test Admit Card from NED UET along with all your Entry Test Result including Marks with number of attempts made. (For new students, submission is mandatory)
Attested copy of NED University student ID card. (New and Existing Students)
Attested copy of SSC and HSC Part 1 & 2 Marksheet (New and Existing Students)
Attested copy of SSC and HSC Certificate from Board of Intermediate Education (New and Existing Students)
Attested copy of Progressive Transcript of Academic Record clearly showing the CGPA. The transcript must be clear and legible. Any transcript that is blurred, or difficult to read will result in disqualification from the scholarship process.
Attested copy of clear and legible official Bank Receipts showing the fees paid to NED University. For new students (first year) receipts must cover the Fall and Spring semesters for the year of admission. For existing students (second, third, and fourth year) receipts must cover the Fall and Spring semesters of the previous academic year only.
Attested copy of death certificate if parent/parents are deceased.
Attested copy front and back of the National ID Cards belonging to the Applicant, Parents/Guardians and Witnesses to the Affidavit of Income.
Attested copy of Parents Family “B Form” as well as forms for all the siblings, must be submitted.
In case of siblings who are currently studying, applicants must provide complete details of the expenses incurred on their education. This must include current payments and receipts as supporting evidence.
Parents/Guardians and students’ proof of income from ALL applicable sources, including the following, must be submitted with the scholarship application; otherwise, the applicant will be disqualified:
Affidavit of approximate Yearly Income of Parents/Guardians/Student who are engaged in cash-based or informal work.
Attested copy of the current employment Salary Slip and appointment /promotion letter (if any) of employed Parents/Guardians/Student.
Affidavit of Yearly Income and current year’s tax return must be submitted if the Parents/Guardians/Student are self-employed.
Affidavit of Yearly Income and current year’s tax return must be submitted if the Parents/Guardians/Student own or run a business.
Attested copy of a valid Retirement Card and updated Pension Book of Parents/Guardians.
Attested copy of Loan documents if applicable must be submitted.
Submit current bank statements, including the last one year of transactions, from all accounts held by the father, mother, or guardians.
Submit current bank statement, including the last one year of transactions, from all accounts held by the Applicant,
Attested copy of ANY type of Financial Aid and Scholarship received in the current or previous academic year, must be submitted.
Attested copy of Property Tax documents and affidavit as outlined below, must be submitted with the scholarship application; otherwise, the applicant will be disqualified:
If Parents/Guardian own a house.
If Parents/Guardian live in a joint family household, an affidavit must be provided stating the share of property tax paid by the Parents/Guardians and listing the names of the people sharing the house.
If the Parents/Guardians are not paying any property tax on the house they owned, an affidavit must be attached declaring it.
If the Parents/Guardians are living in someone else’s house as custodians, an affidavit from the owner of the house must be submitted.
Attested copy of Rent Lease Agreement document and affidavit as outlined below, must be submitted confirming the rental status, with the scholarship application; otherwise, the applicant will be disqualified:
If Parents/Guardians are renting an apartment, condominium, house or any other accommodation, then rental lease agreement must be submitted.
If Parents/Guardians living in a joint family are renting an apartment, condominium, house or any other accommodation, an affidavit must be provided stating the share of the rent paid by Parents/Guardians and listing the names of the people sharing the rented place.
If the Parents/Guardians are not paying any rent, an affidavit must be attached declaring that Parents/Guardians are not paying any rent.
Attested copy of proof of ownership of ALL vehicles owned by Applicant/Parents/ Guardians. The make and model of the vehicles, along with individual total prices, must be stated.
Attested copy of last three months Electric Bill.
Applicants must type and submit a separate Personal Statement of 300–400 words, as specified under Title “D” in the application form. Failure to submit the personal statement along with the scholarship application will result in disqualification
Download the Trailblazers Engineers Affidavit of Income Form (PDF) attached at the bottom of the application form.
Complete the form manually and ensure it is duly signed by your parents/guardians and witnesses. Electronic signatures will not be accepted.
Submit the Affidavit of Income Form separately along with your scholarship application.
Failure to submit the Affidavit of Income Form together with the scholarship application will result in immediate disqualification.